<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About</h1>
            <p class="text">
                 <b>"Read Less Gain More"</b><br>Tired of reading lengthy documents? Here is an online summarizer that can help you in summarizing and analysing your documents.It will assist you in identifying the most important ideas and facts. All within seconds!!<br><br>
                 <b>Listen To Your Customers In Real Time!</b><br>Our online analyzer analyzes text data to help you quickly understand how customers feel about you, your brand, product or service.
            </p>
            <div class="skills">
                <a href="/summarize"><span>SUMMARIZER</span></a>
                <a href="/analyze"><span>ANALYZER</span></a>
            </div>
        </div>
    </div>
</body>
</html>