<!DOCTYPE html>
<html lang="en">
<head>
    <title>home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
    <div class="wrapper">
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/summarize">Summarize</a></li>
<li><a href="/analyze">Analyze</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>Text Analyzer</h1>
<a href="/about">Get Started</a>
    </div>
</header>

</body>
</html>
